.movie-list {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.movie-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-list h1 {
    color: #dedede;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}